<div class="row">      
	<div class="large-12 columns">
		<h3>About this app</h3>
    <p>
    	This is a tutorial app developed by <a href="javascript:;" target="_blank">Suneel Kumar</a>. For the source code email <%= mail_to "sunny.ciitlahore@gmail.com", "sunny.ciitlahore@gmail.com" %>
    </p>
  </div>
</div>
